
<div class="movie-id-container">
    <div class="left">
        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="" class="movie-small-img">
    </div>
    <div class="right">
        <h1>{{movie.original_title}}</h1>
        <p>{{movie.overview}}</p>
        <p>Budget= {{movie.budget}}</p>
        <p>Revenue= {{movie.revenue}}</p>
        <button class="add-btn">Add to favs</button>
    </div>
</div>
<button><a href="/fullmovies">Go to Full Movies</a></button>